.modal-background {
  width: 100%;
  height: 100%;
}

.object-selector-canvas {
  z-index: 0;
}

.modal-canvas > div {
  z-index: 2;
  position: absolute;
}

/* 
  This won;t work for now because the arcballcontrols has panning enable. Need to figure out how to exclude this element from it
.memory-card-body {
  overflow-y: auto;
  height:300px;
} */